<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row tick-shadow">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center ">
        <a class="navbar-brand brand-logo" [routerLink]="['dashboard']">.:: Escuela en línea ::.</a>
        <a class="navbar-brand brand-logo-mini" [routerLink]="['dashboard']">::EEL::</a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch ">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
                <a class="nav-link" (click)="signOut()">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>

<div class="container-fluid page-body-wrapper px-0">
    <nav class="sidebar sidebar-offcanvas light-shadow" id="sidebar">

        <ul class="nav">
            <li class="nav-item nav-profile">
                <a class="nav-link">
                    <div class="nav-profile-image p-1">
                        <img src="{{user.photoUrl}}" alt="{{user.name}}">
                        <span class="login-status online"></span>
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                        <span class="font-weight-bold mb-2">{{user.name}}</span>
                        <span class="text-secondary text-small">{{user.email}}</span>
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                </a>
            </li>

            <app-menu idUser="1"></app-menu>
        </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer></footer>