<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-brand nav-link col-sm-3 col-md-auto mr-0">
        <i class="fa fa-arrow-circle-left" aria-hidden="true" *ngIf="menuItemTextVisible" (click)="changeMenuItemTextVisible()"></i>
        <i class="fa fa-arrow-circle-right" aria-hidden="true" *ngIf="!menuItemTextVisible" (click)="changeMenuItemTextVisible()"></i>
        &nbsp; <div  class="d-inline" (click)="changeMenuItemTextVisible()">.:: Escuela En L&iacute;nea ::.
        </div>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" (click)="signOut()">
                Salir &nbsp;
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-auto d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="d-flex align-items-center text-muted font-weight-bold">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    &nbsp; <div *ngIf="menuItemTextVisible">Sistema...</div>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['group']" routerLinkActive="router-link-active">
                            <i class="fa fa-users-cog" aria-hidden="true" style="width: 24px;"></i>
                            <div class="d-inline" *ngIf="menuItemTextVisible">Grupos</div>                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['user']" routerLinkActive="router-link-active">
                            <i class="fa fa-user" aria-hidden="true" style="width: 24px;"></i>
                            <div class="d-inline" *ngIf="menuItemTextVisible">Usuarios</div>                        
                        </a>
                    </li>
                </ul>
                <h6 class="d-flex align-items-center text-muted font-weight-bold">
                    <i class="fa fa-sliders-h" aria-hidden="true"></i>
                    &nbsp; <div class="d-inline" *ngIf="menuItemTextVisible">Parámetros...</div> 
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['course']" routerLinkActive="router-link-active">
                            <i class="fa fa-users" aria-hidden="true" style="width: 24px;"></i>
                            <div class="d-inline" *ngIf="menuItemTextVisible">Cursos</div> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['area']" routerLinkActive="router-link-active">
                            <i class="fa fa-object-group" aria-hidden="true" style="width: 24px;"></i>
                            <div class="d-inline" *ngIf="menuItemTextVisible">Areas</div> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['matter']" routerLinkActive="router-link-active">
                            <i class="fa fa-book-open" aria-hidden="true" style="width: 24px;"></i>
                            <div class="d-inline" *ngIf="menuItemTextVisible">Materias</div>                             
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['academicLoad']" routerLinkActive="router-link-active">
                            <i class="fa fa-calendar" aria-hidden="true" style="width: 24px;"></i>
                            <div class="d-inline" *ngIf="menuItemTextVisible">Carga Académica</div>                               
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="margin-top: 56px; margin-left: 16px; " class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer></footer>