<app-loading *ngIf="!filtersLoaded">
</app-loading>

<ng-container *ngIf="filtersLoaded">
    <div class="row">
        <div class="col-1">
            <div class="form-group">
                <label for="year">Año</label>
                <select class="form-control" name="selectedYear" id="selectedYear" [(ngModel)]="selectedYear">
                    <option *ngFor="let year of yearList" value="{{year.value}}">{{year.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="year">Periodo</label>
                <select class="form-control" name="selectedPeriod" id="selectedPeriod" [(ngModel)]="selectedPeriod">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="selectedCourse">Curso</label>
                <select class="form-control" name="selectedCourse" id="selectedCourse" [(ngModel)]="selectedCourse" (ngModelChange)="loadStudents()">
                    <option *ngFor="let course of courseLists" value="{{course.value}}">{{course.text}}</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="selectedCourse">Estudiante</label>
                <select class="form-control" name="selectdStudent" id="selectdStudent" [(ngModel)]="selectdStudent">
                    <option *ngFor="let student of studentsList" value="{{student.id}}">{{student.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="">&nbsp;</label>
                <button type="button" class="btn btn-success form-control" (click)="generateReportList()" >Consultar...</button>
            </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label for="">&nbsp;</label>
                <button type="button" 
                [printStyle]="{'.BackgroundAreaMatterColor':{'background-color':'#e0e0eb'},
                '.spaceBetweenData':{'padding':'5px'},
                '.gradeData':{'font-size':'small'},
                '.text-center':{'text-align': 'center!important'},
                'h4':{'font-size': '1.5rem','margin-bottom': '.5rem','font-weight': '500','line-height': '1.2','margin-top': '0'},
                'h6':{'font-size': '1rem','margin-bottom': '.5rem','font-weight': '500','line-height': '1.2','margin-top': '0'},
                '.pagebreak':{ 'page-break-before': 'always'},
                '.logos':{'height':'128px'}
                }"
                class="btn btn-success form-control" printSectionId="printReportObject" ngxPrint><i class="fas fa-print"></i></button> 
            </div>
        </div>        
    </div>  
    <app-loading *ngIf="loadingReports"></app-loading>
</ng-container>
<div  id="printReportObject" [innerHTML]="generatedReports" style="background-color: white;">
</div>