<div class="row">
    <div class="col-3">
        <div class="list-group" id="divGroupsList">
            <a *ngFor="let group of groupList" #item (click)="selectGroup(group,item)"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between" >
                    <div class="form-check">
                        <h5 class="mb-1">&nbsp;{{group.group}}</h5>
                    </div>
                    <small>Group id: {{group.id}}</small>
                </div>
            </a>
        </div>
    </div>
    <div class="col-9">
        <app-grant-permisson [group]="group">

        </app-grant-permisson>
    </div>
</div>