<div class="row">
    <div class="col-3">
        CURSO
        <br>
        Agregar alumnos al curso
        <br>
        <small>Se creará automáticamente las matriculas</small>

    </div>
    <div class="col-9">
        Listado de alumnos matriculados<br>
        <img height="64px" *ngIf="!loadComponent" src="../../assets/loading.jpg" class="rounded-circle" alt="Cargando información...">
        <app-crud *ngIf="informationLoaded" model="Matriculation" [where]="whereComponent" [canAdd]="false" [canDelete]="true" [canUpdate]="false" [canView]="false"
            viewUrl="" [configCrudComponent]="configCrudComponent"></app-crud>
    </div>
</div>