<div class="backgroundImage">
</div>
<button (click)="logIn()" style="margin-left: 25px">Sign In/Authorize</button>
<button (click)="logOut()" style="margin-left: 25px">Sign Out/Authorize</button>
<button (click)="getUser()" style="margin-left: 25px">Get User</button>


<button (click)="goCourse()" style="margin-left: 25px">Course</button>
<button id="revoke-access-button" (click)="revokeAccess()" style="display: none; margin-left: 25px">Revoke
    access</button>

<div id="auth-status" style="display: inline; padding-left: 25px"></div>
<hr>