<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="newModelName">Crear modelo:</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Escriba el nombre del nuevo modelo" name="newModelName"
          [(ngModel)]="newModelName">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="createModel()">Crear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label for="idReportCardModelSelected">Seleccione un modelo para editar:</label>
      <select class="form-control" name="idReportCardModelSelected" id="idReportCardModelSelected"
        [(ngModel)]="idReportCardModelSelected" (click)="selectModel()">
        <option value="0">Ninguno</option>
        <option *ngFor="let model of reportCardModelList" value="{{model.value}}">{{model.text}}</option>
      </select>
    </div>
  </div>
</div>