<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="newModelName">Crear modelo:</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Escriba el nombre del nuevo modelo" name="newModelName"
          [(ngModel)]="newModelName">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="createModel()">Crear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="form-group">
      <label for="idReportCardModelSelected">Seleccione un modelo para editar:</label>
      <select class="form-control" name="idReportCardModelSelected" id="idReportCardModelSelected"
        [(ngModel)]="idReportCardModelSelected" (click)="selectModel()">
        <option value="0">Ninguno</option>
        <option *ngFor="let model of reportCardModelList" value="{{model.value}}">{{model.text}}</option>
      </select>
    </div>
  </div>
</div>

<!-- <div [ngxSummernote]="headerEditorConfig"></div> -->




<!-- <ckeditor id="HeaderCKEditorId" [editor]="HeaderCKEditor" [data]="selectedModel.header"  ></ckeditor>
<ckeditor id="BodyCKEditorId" [editor]="BodyCKEditor" [data]="selectedModel.body"></ckeditor>
<ckeditor id="FooterCKEditorId" [editor]="FooterCKEditor" [data]="selectedModel.footer"></ckeditor> -->


<!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor> -->

<ng-container *ngIf="idReportCardModelSelected == 0">
  <div class="text-center">Por favor seleccione un modelo de boletín para editar...</div>
</ng-container>

<div class="text-center">
  <h4>{{selectedModel.name}}</h4>
</div>
<!-- 
<div id="headerEditorComponent" style="height: 150px;"></div>
<button type="button" class="btn btn-success" (click)="add()">Add</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" (click)="saveModel()">Guardar</button>
<input type="text" name="header" id="header" [(ngModel)]="selectedModel.header">
<div id="bodyEditorComponent" style="height: 150px;"></div>
<input type="text" name="body" id="body" [(ngModel)]="selectedModel.body">
<div id="footerEditorComponent" style="height: 150px;"></div>
<input type="text" name="footer" id="footer" [(ngModel)]="selectedModel.footer">
<button type="button" class="btn btn-success" (click)="saveModel()">Guardar</button> -->