<h5>Carga académica...</h5>
<div style="border: solid; border-color: slateblue; border-width: 1px; " class="p-1 rounded">
    <div class="row">
        <div class="col-2">
            <small class="text-center">Curso</small>
            <h6>{{academicLoadSelected.course}}</h6>
        </div>
        <div class="col-3">
            <small class="text-center">Área</small>
            <h6>{{academicLoadSelected.area}}</h6>
        </div>
        <div class="col-2">
            <small class="text-center">Materia</small>
            <h6>{{academicLoadSelected.matter}}</h6>
        </div>
        <div class="col-3">
            <small class="text-center">Profesor</small>
            <h6>{{academicLoadSelected.name}} {{academicLoadSelected.surname}}</h6>
        </div>
        <div class="col-2">
            <small class="text-center">Horas por semana</small>
            <h6 class="text-center">{{academicLoadSelected.hoursPerWeek}}</h6>
        </div>
    </div>
</div>
<br>
<h5>Notas definidas para esta carga académica...</h5>
<div class="row">
    <div class="col-2">
<div class="form-group">
  <label for="">Periodo</label>
  <select class="form-control" name="selectedPeriod" id="selectedPeriod" [(ngModel)]="selectedPeriod">
    <option value="0">Todos</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
</div>        
    </div>
    <div class="col-2">
        <div class="form-group ">
            <label for="">&nbsp;</label>
        <button type="button" class="btn btn-success form-control" (click)="filter()">Filtrar</button>
    </div> 
    </div>
</div>



<app-crud model="GradeDefinition" [canAdd]="true" [canDelete]="true" [canUpdate]="true" [canView]="false" viewUrl=""
    [where]="whereComponent" [configCrudComponent]="configCrudComponent"></app-crud>