<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">.:: Escuela En L&iacute;nea ::.</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="d-flex align-items-center text-muted font-weight-bold">
                    <i class="fa fa-cogs" aria-hidden="true" ></i>
                    &nbsp; Sistema...
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/group']" routerLinkActive="router-link-active">
                            <i class="fa fa-users-cog" aria-hidden="true" style="width: 24px;"></i>
                            Grupos
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/user']" routerLinkActive="router-link-active">
                            <i class="fa fa-user" aria-hidden="true" style="width: 24px;"></i>
                            Usuarios
                        </a>
                    </li>      
                </ul>
                <h6 class="d-flex align-items-center text-muted font-weight-bold">
                    <i class="fa fa-sliders" aria-hidden="true" ></i>
                    &nbsp; Parámetros...
                </h6>                
                <ul class="nav flex-column"> 
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/course']" routerLinkActive="router-link-active">
                            <i class="fa fa-users" aria-hidden="true" style="width: 24px;"></i>
                            Cursos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/area']" routerLinkActive="router-link-active">
                            <i class="fa fa-object-group" aria-hidden="true" style="width: 24px;"></i>
                            Areas
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/matter']" routerLinkActive="router-link-active">
                            <i class="fa fa-book-open" aria-hidden="true" style="width: 24px;"></i>
                            Materias
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/academicLoad']" routerLinkActive="router-link-active">
                            <i class="fa fa-calendar" aria-hidden="true" style="width: 24px;"></i>
                            Carga Académica
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div  style="margin-top: 56px; margin-left: 16px;">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer></footer>